# root = true

# [*]
# indent_style = space
# indent_size = 2
# end_of_line = lf
# charset = utf-8
# trim_trailing_whitespace = true
# insert_final_newline = true


# top-most EditorConfig file
root = true

# Identation
[*]
indent_style = space
indent_size = 2

# Vue.js files
[*.{vue}]
indent_style = 2
indent_size = 2